/*=======DEFAULT=======*/

html,
body {
    background-color: #fff;
}

.gray-1{
    color: slategray;
}

.post-title{
    font-size: 1.4rem;
    color: #003d58;
}

.post-title a:hover{
    color: #0a678f;
}
/*========COMPONENT=======*/
/*Post Card */
.post-card{
    height: 480px;
    width: 352px;
    border-radius: 3px;
    overflow: hidden;
}

.post-card .image-wrapper{
    height: 38%;
}

.post-card .post-info{
    height: 62%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card .post-info .post-preview{
    color: #171717;
    line-height: 1.5rem;
}

.post-card .post-info .topic-wrapper,
.post-card .post-info .author-info{
    display: flex;
    justify-content:space-between;
}

.post-card .post-info .topic-wrapper .topic-tag{
    text-transform:uppercase;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 20px;
    color: #205a6d;
    background-color: #cff5f9;
    border: 1px solid #90d1e7;
}

.post-card .post-info .author-info .author{
    display: flex;
    align-items: center;
}

.post-card .post-info .author-info .author .avatar{
    height:25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-card .post-info .author-info .readmore-icon{
    vertical-align: middle;
}

/*Flat Card*/
.post-card.flat-card{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 32px auto 64px;
}

.post-card.flat-card.featured-post{
    width: 70%;
}

.post-card.flat-card .image-wrapper,
.post-card.flat-card .post-info{
    flex-basis: 50%;
    height: 100%;
}

@media only screen and (max-width: 1024px){

    .post-card.flat-card.featured-post{
        width: 100%;
    }
}


@media only screen and (max-width: 590px){
    .post-card.flat-card{
        height: 480px;
        flex-direction: column;
    }

    .post-card.flat-card .post-info{
        padding: 20px;
    }

}

/* Carousel*/
.carousel-container{
    position: relative;
}

.carousel-container .slider-arrow{
        position: absolute;
        bottom: 0;
        min-height: 480px;
        font-size: 2rem;
        z-index: 2;
        background-color: transparent;
        border: none;
}

.carousel-container .next-arrow{
    right: -20px;
}

.carousel-container .pre-arrow{
    left: -20px;
}

.carousel-container .carousel-header{
    display: flex;
    justify-content: space-between;
}

.carousel-container .carousel-header h2{
    margin: 0;
    padding: 0;
}

.carousel-container .post-card{
    margin: 0 20px;
}

.carousel-container .slick-list{
    margin: 0 -20px;
}

.carousel-container .slider-arrow.slick-disabled{
    display: none !important;
}

/*=========PAGES=========*/
/* Landing/Home Page*/
.page-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    min-height: calc(100vh - 570px);
}

.page-section{
    margin: 0 auto 40px; 
}

@media only screen and (max-width: 1024px){
    .page-container{
       padding: 16px; 
    }
}

/* Topics*/
.topics-container{
    padding: 60px 0;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(148, 239, 255), rgb(184, 255, 228));
}

.topics-container .topics-pills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 0px 32px;
}

.topics-container .topics-pills a{
    text-decoration: none;
    color: unset;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.294);
    margin: 0px 16px 16px 0px;
    padding: 10px 32px;
    border-radius: 4px;
}

.topics-container .topics-pills a:hover{
    box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.75);
    transition: all 0.25s ease-in-out;
}

/* Page footer*/
.page-footer{
    height: 500px;
    background-color: #2F323A;
    display: flex;
    flex-direction: column;
} 

.page-footer *{
    color: #d9dde0;
}

.page-footer .footer-content{
    flex-basis: 84%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px 20px;
    border-bottom: 1px solid #5f626b;
    display: flex;
}

.page-footer .footer-content .content-section{
    flex-basis: 30%;
}

.page-footer .section-title{
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.page-footer .company-info .company-bio{
    line-height: 24px;
}

.page-footer .company-info .social-links{
    margin: 32px 0;
    display: flex;
    font-size: 24px;
}

.page-footer .company-info .social-links .social-icon{
    margin-right: 8px;
}

.page-footer .company-info .social-links .social-icon:hover{
    color: #9da19c
}

.page-footer .helpful-links li{
    margin-bottom: 8px;
}

.page-footer .helpful-links{
    display: flex;
    justify-content: center;
}

.page-footer .helpful-links ul{
    padding-left: 16px;
}


.page-footer .contact-wrapper{
    flex-basis: 40% !important;
}

.page-footer .contact-wrapper .input-control.contact{
    border: 1px solid transparent;
    background-color: #0b384b;
    color: #b7b7b8;
}

.page-footer .contact-wrapper .input-control.contact:focus{
    background-color: #073438;
}

.page-footer .copyright-info{
    flex-basis: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-footer .copyright-info p{
    color: #72798b;
}